
@{
    ViewData["Title"] = "about";
}




    <!-- about section -->
    <section class="about_section layout_padding">
        <div class="container  header">
            <div class="heading_container heading_center">
                <video autoplay muted loop class="background-video">
                    <source src="/images/ssssss.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h2>
                    About <span>Us</span><br><br>
                </h2>
                <h4 style="z-index: 1;">
                    Did you forgot a very important occasion ?<br> <br>let it on Us
                </h4>
            </div>
        </div>
    </section>

    <div style="background-color: #fff;">
        <br><br><br>
    </div>

    <section class="about_section layout_padding" style="margin-top: 150px;">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="/images/logo_classic_beige.png" alt="">
                </div>
            </div>
            <div class="col-md-6" style="margin: -38px; ">
                <div class="detail-box">
                    <h3>
                        At “On Time “,<br><br>
                    </h3>
                    <h5>
                        we make every celebration unforgettable with thoughtful,
                        curated gifts for all occasions. <br>
                        Whether you're planning ahead or making up for a missed moment
                        with our unique Late but Loved feature,<br>
                        we’re here to help you express love, gratitude,
                        and joy effortlessly.<br>
                        With a focus on personalization, convenience, and timely delivery,
                        we’re committed to turning your special moments into cherished memories.
                    </h5>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- client section -->

    <section class="client_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center psudo_white_primary mb_45">
                <h2>
                    What says our <span>Customers</span>
                </h2>
            </div>
            <div class="carousel-wrap ">
                <div class="owl-carousel client_owl-carousel">
                    <div class="item">
                        <div class="box">
                            <div class="img-box">
                                <img src="https://icon-library.com/images/young-person-icon/young-person-icon-29.jpg" alt="" class="box-img">
                            </div>
                            <div class="detail-box">
                                <div class="client_id">
                                    <div class="client_info">
                                        <h6>
                                            Salam Athamneh
                                        </h6>
                                        <p>
                                            Remembering Important Occasions
                                        </p>
                                    </div>
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                                <p>
                                    Your website is a lifesaver! I used to forget important dates all the time, but now I never miss a birthday or anniversary. The reminders are amazing—thank you for making my life so much easier!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="img-box">
                                <img src="https://th.bing.com/th/id/R.92ecae7a52e69f4e380760d06b4791dc?rik=6LEdIyVUjit%2byA&riu=http%3a%2f%2f1.bp.blogspot.com%2f-NfNW3SUM2XU%2fUOybexBe3SI%2fAAAAAAAAApQ%2fLRQX9HK-NpA%2fs1600%2funknown.jpg&ehk=k8DzY9YXoaLCwLHfmT7%2fA7ArmB2SCXZIBV601NI5%2bBk%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" alt="" class="box-img">
                            </div>
                            <div class="detail-box">
                                <div class="client_id">
                                    <div class="client_info">
                                        <h6>
                                            Momen Athamneh
                                        </h6>
                                        <p>
                                            Saving a Marriage
                                        </p>
                                    </div>
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                                <p>
                                    Your site saved my marriage! I forgot my wedding anniversary, but your reminder feature saved the day. Thanks to you, I was able to plan something special just in time. You’re a game-changer!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="img-box">
                                <img src="https://cdn4.vectorstock.com/i/thumb-large/45/53/cartoon-girl-icon-vector-15274553.jpg" alt="" class="box-img">
                            </div>
                            <div class="detail-box">
                                <div class="client_id">
                                    <div class="client_info">
                                        <h6>
                                            Taymaa Odat
                                        </h6>
                                        <p>
                                            Staying Organized
                                        </p>
                                    </div>
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                                <p>
                                    Your website has completely transformed how I stay organized! I used to miss deadlines and forget important tasks, but now I’m always on top of things. The reminders and calendar features are fantastic—thank you for such a helpful tool!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/client1.jpg" alt="" class="box-img">
                            </div>
                            <div class="detail-box">
                                <div class="client_id">
                                    <div class="client_info">
                                        <h6>
                                            Yamen Athamneh
                                        </h6>
                                        <p>
                                            Never Missing a Deadline

                                        </p>
                                    </div>
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                                <p>
                                    I can’t believe how much your site has helped me! I used to forget deadlines all the time, but now I’m always prepared. The notifications are spot-on, and I feel so much more in control. Highly recommend it to anyone!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end client section -->
    <!-- team section -->
    <section class="team_section layout_padding">
        <div class="container-fluid">
            <div class="heading_container heading_center">
                <h2 class="">
                    Our <span> Team</span>
                </h2>
            </div>

            <div class="team_container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/team-1.jpg" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Sondos Athamneh
                                </h5>
                                <p>
                                    Marketing Head
                                </p>
                            </div>
                            <div class="social_box">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/team-1.jpg" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Sondos Athamneh
                                </h5>
                                <p>
                                    Marketing Head
                                </p>
                            </div>
                            <div class="social_box">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/team-1.jpg" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Sondos Athamneh
                                </h5>
                                <p>
                                    Marketing Head
                                </p>
                            </div>
                            <div class="social_box">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/team-1.jpg" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Sondos Athamneh
                                </h5>
                                <p>
                                    Marketing Head
                                </p>
                            </div>
                            <div class="social_box">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end team section -->
    <!-- why section -->
    <div id="services" class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2>Why Choose Us</h2>
                        <img src="assets/images/heading-line-dec.png" alt="">
                        <h6>
                            Discover a seamless and enjoyable way to find the perfect gift for any occasion.
                            Carefully crafted to make every celebration unforgettable!
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="service-item first-service">
                        <div class="icon"></div>
                        <h4>High-Quality Gifts for Every Occasion</h4>
                        <p>
                            We offer a wide range of carefully curated gifts for birthdays, anniversaries, weddings, and more. Each item is chosen with care to ensure it meets the highest quality standards.
                        </p>
                        <div class="text-button">
                            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item second-service">
                        <div class="icon"></div>
                        <h4>Personalized Touch</h4>
                        <p>We understand how important a personal touch is. That's why we offer various customization options, including engraving, embroidery, and personalized packaging, to make your gifts stand out and feel truly special for your loved ones</p>
                        <div class="text-button">
                            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item third-service">
                        <div class="icon"></div>
                        <h4>Fast and Reliable Delivery</h4>
                        <p>
                            We pride ourselves on our fast and reliable delivery service. Whether you need a gift urgently or for a future event, we ensure that your order arrives on time, every time.

                        </p><br>
                        <div class="text-button">
                            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><br><br>
            <div class="row">

                <div class="col-lg-4">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <h4>Expert Gift Selection</h4>
                        <p>
                            Our team of gift experts is always on hand to provide suggestions and help you find the perfect gift, tailored to your needs. You won’t have to worry about making the right choice—we’ll guide you!
                        </p>
                        <div class="text-button">
                            <br><br><br>
                            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <h4>Affordable Prices</h4>
                        <p>
                            We believe that quality gifts shouldn't come with a hefty price tag. We offer competitive prices and a range of options that fit every budget, so you can celebrate your special moments without overspending.
                        </p>
                        <div class="text-button">
                            <br><br><br>
                            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <h4>Excellent Customer Service</h4>
                        <p>
                            Our customer service team is here for you. Whether you have questions, need assistance with your order, or require post-purchase support, we're always ready to help with a friendly and professional attitude.
                        </p>
                        <div class="text-button">
                            <br><br><br>
                            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <!-- end why section -->
