
@{
    ViewData["Title"] = "service";
}




    <!-- slider section-->




    <div class="slider">


        <div class="list">

            <div class="item">
                <img src="img1.jpg" style="filter:brightness(50%) ;" alt="">

                <div class="content">
                    <div class="title">Welcome To</div>
                    <div class="type">ON TIME</div>
                    <div class="description">
                        where innovation meets excellence in the world of software development.

                    </div>

                </div>
            </div>

            <div class="item">
                <img src="img2.jpg" style="filter:brightness(50%) ;" alt="">

                <div class="content">
                    <div class="title">Our perfect Feature</div>
                    <div class="type">  "Late but Loved" </div>
                    <div class="description">

                        Missed the date? No problem! Our unique "Late but Loved" option lets you send heartfelt gifts even after the occasion, reminding your loved ones how much they mean to you
                    </div>

                </div>
            </div>

            <div class="item">
                <img src="img4.jpg" style="filter:brightness(50%) ;" alt="">

                <div class="content">
                    <div class="title">Our Mission</div>
                    <div class="type">
                        Convenience at Your Fingertips
                    </div>
                    <div class="description">
                        Easily browse, book, and customize gifts all in one place. <br>Our intuitive platform is designed to save you time and effort.
                    </div>

                </div>
            </div>

            <div class="item">
                <img src="img3.jpg" style="filter:brightness(50%) ;" alt="">

                <div class="content">
                    <div class="title">As a ON TIME , </div>
                    <div class="type">we understand that </div>
                    <div class="description">
                        life's most cherished moments deserve to be celebrated, even when time gets the better of us.
                    </div>

                </div>
            </div>
            <div class="item">
                <img src="img5.jpg" style="filter:brightness(20%) ;" alt="">

                <div class="content">
                    <div class="title">Also We Have a  </div>
                    <div class="type">Reliable Delivery </div>
                    <div class="description">

                        We ensure your gifts are delivered on time, with care and attention to detail, to make every moment unforgettable.
                    </div>

                </div>
            </div>

        </div>


        <div class="thumbnail">

            <div class="item">
                <img src="img1.jpg" alt="">
            </div>
            <div class="item">
                <img src="img2.jpg" alt="">
            </div>
            <div class="item">
                <img src="img4.jpg" alt="">
            </div>
            <div class="item">
                <img src="img3.jpg" alt="">
            </div>
            <div class="item">
                <img src="img5.jpg" alt="">
            </div>

        </div>


        <div class="nextPrevArrows">
            <button class="prev"> < </button>
            <button class="next"> > </button>
        </div>


    </div>
    <!--end of slider section-->
    <!-- service section -->

    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2>
                        Our <span>Services</span>
                    </h2>

                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/s1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Late But Loved
                                </h5>
                                <p>
                                    Forgot to send a gift on time?<br>
                                    No worries! With our Late But Loved service, your gift will arrive as if the delay was from the delivery service—not you!
                                    <a href="lateButLoved.html">try it</a>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/s2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Personalized Gifting
                                </h5>
                                <p>
                                    Make your gift truly special with personalized touches! <br>
                                    Whether it’s a name, a heartfelt message, or custom wrapping, we add those little details that make a big difference
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/s3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Express & Surprise Delivery
                                </h5>
                                <p>
                                    Need a gift delivered fast?<br>
                                    We offer express delivery to get your gift there on time! Plus, our surprise delivery option ensures your loved one receives an unexpected and delightful surprise.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        View All
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- end service section -->
    <!--late but loved-->
    <!-- <div id="app">
      <div class="hero">
        <h1>Late But Loved</h1>
        <h6> Forgot a special occasion? Don’t worry, we’ve got your back!</h6>
        <a href="lateButLoved.html" class="nav-btn">Late But Loved</a>

      </div>


      </div>
      <canvas id="webgl-canvas"></canvas>
    </div>
    late but loved -->
